apiVersion: v1
kind: Secret
metadata:
  name: portfolio-backend-secret
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "admin"
  MONGO_INITDB_ROOT_PASSWORD: "CHANGE_ME_STRONG_PASSWORD"
  DB_URL: "mongodb://admin:CHANGE_ME_STRONG_PASSWORD@mongo-service:27017/mediformers?authSource=admin"
  JWT_SECRET: "CHANGE_ME_STRONG_JWT_SECRET"
